<section class="post" data-comment-id="{{id}}">
    <div class="user-info">
        <a href="/p/{{user.username}}">
            <img class="user-img" src="http://localhost:3001/assets/avatar-uploads/{{user.avatar}}" alt="User's profile pic">
            <p>{{user.username}}</p>
        </a>
        <p class="date-made"> <i>Posted: {{formatDate date_created}}</i></p>
    </div>
        <p>{{comment}}</p>
</section>